name: build

on:
  schedule:
    - cron: "0 13 * * 1"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: true
      matrix:
        operating-system: [ ubuntu-latest ]
        php: [ '8.1', '8.2', '8.3', '8.4', '8.5' ]
        dependencies: [ 'lowest', 'highest' ]
        exclude:
          - php: '8.1'
            dependencies: 'lowest'
          - php: '8.2'
            dependencies: 'lowest'
        include:
          - php: '8.2'
            composer-options: "--ignore-platform-req=php+"

    name: PHP ${{ matrix.php }} on ${{ matrix.operating-system }} with ${{ matrix.dependencies }} dependencies

    steps:
      - uses: actions/checkout@v6
        name: Checkout repository

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov

      - name: Composer install
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: "${{ matrix.composer-options }}"

      - name: PHPUnit + Code coverage
        run: |
          mkdir -p build/logs
          vendor/bin/phpunit --configuration phpunit.xml.dist --coverage-text --coverage-clover build/logs/clover.xml

      - name: Code coverage upload to Coveralls
        if: matrix.php == '8.3' && matrix.dependencies == 'highest'
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer require php-coveralls/php-coveralls -W
          vendor/bin/php-coveralls -v --coverage_clover=build/logs/clover.xml
